<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PRINCIPAL.My.MySettings.logdbConnectionString" connectionString="server=localhost;user id=root;database=logdb"
            providerName="MySql.Data.MySqlClient" />
        <add name="PRINCIPAL.My.MySettings.logdbConnectionString1" connectionString="server=localhost;user id=root;password=3829777;persistsecurityinfo=True;database=logdb"
            providerName="MySql.Data.MySqlClient" />
        <add name="PRINCIPAL.My.MySettings.logdbConnectionString2" connectionString="server=localhost;user id=root;password=3829777;database=logdb"
            providerName="MySql.Data.MySqlClient" />
        <add name="PRINCIPAL.My.MySettings.logdbConnectionString3" connectionString="Data Source=DELL_1500\DOD;Initial Catalog=logdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PRINCIPAL.My.MySettings.logdbConnectionString4" connectionString="Data Source=DESKTOP-EUM2MGK;Initial Catalog=logdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>